body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#272727;
}

p{
    color: white;
    text-align: center;
    
}